<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>冠川智能->智能家居</title>
    <link rel="icon" href="../../images/g.ico" type="image/x-icon"/>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.1/css/bootstrap.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/font-awesome/4.2.0/css/font-awesome.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet"/>
    <link href="css/menu.css" rel="stylesheet"/>
    <script src="https://cdn.bootcss.com/jquery/1.11.1/jquery.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <script src="https://cdn.bootcss.com/angular.js/1.6.9/angular.js"></script>
    <script src="https://cdn.bootcss.com/angular.js/1.6.9/angular-route.js"></script>
    <script src="https://cdn.bootcss.com/angular.js/1.6.9/angular-resource.js"></script>
    <script src="https://cdn.bootcss.com/angular.js/1.6.9/angular-mocks.js"></script>
    <script src="https://cdn.bootcss.com/angular.js/1.6.9/angular-animate.js"></script>
    <script src="//apps.bdimg.com/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-default navbar-static-top">
            <div class="container">
                <div class="navbar-header" >
                    <a class="navbar-brand" href="/">
                        <img class="" src="../../images/gantch_logo.png">
                        智能家居
                    </a>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="" class="scrollto"><span  id="chooseChinese" onclick="">中文</span><span> / </span><span  id="chooseEnglish"  onclick="">English</span></a></li>
                        <li class="dropdown">
                            <a href="" class="dropdown-toggle user" data-toggle="dropdown"><i class="fa fa-user"></i> 用户名<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="release.html" class="scrollto">发布留言</a></li>
                                <li><a href="home.html" class="scrollto">退出</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="content">
        <!--<canvas id="J_dotLine"></canvas>-->
        <nav class="navb">
            <div class='container'>
                <div class='side-menu'>
                    <ul>
                        <li class="side-menu-icon menu-details" id="allGateway">
                            <a href="" title="所有网关" ng-click="$location.path('allGateway')">
                                <i class="fa fa-file-text-o fontStyle"></i>
                                <span class="textStyle" id="side-menu-1">所有网关</span>
                            </a>
                        </li>
                        <li class="side-menu-icon menu-details" id="allDevice">
                            <a href="" title="所有设备" ng-click="$location.path('allDevice')">
                                <i class="fa fa-file-text-o fontStyle"></i>
                                <span class="textStyle" id="side-menu-2">所有设备</span>
                            </a>
                        </li>
                        <li class="side-menu-icon menu-details" id="lightBulb">
                            <a href="" title="灯泡" ng-click="$location.path('lightBulb')">
                                <i class="fa fa-lightbulb-o fontStyle"></i>
                                <span class="textStyle" id="side-menu-3">灯泡</span>
                            </a>
                        </li>
                        <li class="side-menu-icon menu-details" id="socket">
                            <a href="" title="插座" ng-click="$location.path('socket')">
                                <i class="fa fa-file-text-o fontStyle"></i>
                                <!--<icon></icon>-->
                                <span class="textStyle" id="side-menu-4">插座</span>
                            </a>
                        </li>
                        <li class="side-menu-icon menu-details" id="curtain">
                            <a href="" title="窗帘" ng-click="$location.path('curtain')">
                                <i class="fa fa-file-text-o fontStyle"></i>
                                <span class="textStyle" id="side-menu-5">窗帘</span>
                            </a>
                        </li>
                        <li class="side-menu-icon menu-details" id="sensor">
                            <a href="" title="传感器" ng-click="$location.path('sensor')">
                                <i class="fa fa-file-text-o fontStyle"></i>
                                <span class="textStyle" id="side-menu-6">传感器</span>
                            </a>
                        </li>
                        <li class="side-menu-icon menu-details" id="switch">
                            <a href="" title="开关" ng-click="$location.path('switch')">
                                <i class="fa fa-file-text-o fontStyle"></i>
                                <span class="textStyle" id="side-menu-7">开关</span>
                            </a>
                        </li>
                        <li class="side-menu-icon menu-details" id="monitor">
                            <a href="" title="监控" ng-click="$location.path('monitor')">
                                <i class="fa fa-file-text-o fontStyle"></i>
                                <span class="textStyle" id="side-menu-8">监控</span>
                            </a>
                        </li>
                        <li class="side-menu-icon menu-details" id="doorLock">
                            <a href="" title="门锁" ng-click="$location.path('doorLock')">
                                <i class="fa fa-file-text-o fontStyle"></i>
                                <span class="textStyle"  id="side-menu-9">门锁</span>
                            </a>
                        </li>
                        <li class="side-menu-icon menu-details" id="otherDevice" style="opacity: 1;">
                            <a href="" title="其他设备" ng-click="$location.path('otherDevice')">
                                <i class="fa fa-file-text-o fontStyle"></i>
                                <span class="textStyle"  id="side-menu-10">其他设备</span>
                            </a>
                        </li>
                        <li class="side-menu-icon menu-details" id="grouping">
                            <a href="" title="分组" ng-click="$location.path('grouping')">
                                <i class="fa fa-file-text-o fontStyle"></i>
                                <span class="textStyle"  id="side-menu-11">分组</span>
                            </a>
                        </li>
                        <li class="side-menu-icon menu-details" id="scenes">
                            <a href="" title="场景" ng-click="$location.path('scenes')">
                                <i class="fa fa-file-text-o fontStyle"></i>
                                <span class="textStyle" id="side-menu-12">场景</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="content-wrapper">
            <!--最终版-->
            <!--<div class="container">-->
                <!--<div ng-view></div>-->
            <!--</div>-->
            <!--测试版-->
            <div class="container">>
                <div ng-view>
                    设备列表
                </div>
            </div>
        </div>
    </div>
    <footer>
        <section id="aboutUS" class="section aboutUS ">
            <div class="container pad-bot40">
                <div class="row animated opacity mar-bot20" data-andown="fadeIn" data-animation="animation">
                    <div class="col-sm-12 align-center" style="text-align:center" >
                        <img src="../../images/mini.png">&nbsp;&nbsp;
                        <img src="../../images/html5.png"><br>
                    </div>
                </div>
                <div class="row align-center copyright">
                    <div class="col-sm-12">
                        <p>&copy;&nbsp;2018 北京冠川智能技术股份有限公司</p>
                        <p>
                            <small><i class="fa fa-building-o"></i>&nbsp;北京市海淀区西土城路10号科研楼815室&nbsp;</small>
                        </p>
                        <h4><strong><i class="fa fa-phone"></i>&nbsp;86-010-84935219/0755-28192199</strong></h4>
                    </div>
                </div>
            </div>
        </section>
    </footer>
    <!--<script src="js/mycanvas.js" type="text/javascript"></script>-->
    <script src="js/canvas-nest.js" type="text/javascript" color="32,178,170" pointColor="32,178,170" opacity='0.7' zIndex="-2" count="120"></script>
    <script src="js/canvas-nest.umd.js" type="text/javascript"></script>
</body>
</html>