<div class="" ng-controller="customerUserCtrl">
    <div class="container">
        <div class="row">
            <div style="padding-left: 0px; padding-right: 0px;" id="titleSize">
                <h3>
                    <span style="font-size: 30px;" id="userTitle"></span>
                </h3>
            </div>
            <!--<div class="col-md-1" style="margin-top: 23px;">-->
                <!--<button style="margin-top:-2px; margin-bottom: 15px" class="btn btn-basic btn-sm" data-toggle="modal"-->
                        <!--data-target="#createCustomerUser" id="addCustomerUser">-->
                <!--</button>-->
            <!--</div>-->
        </div>

        <!--<div class="row" style="margin-left: 20px;" id="userLimitRow">-->
            <!--<span id="userDisplay"></span>-->
            <!--<input type="text" id="customerUserNum" style="width: 50px;border-radius: 5px;" ng-change="customerUserLimit()" ng-model="myLimit" placeholder="9">-->
            <!--<span id="userCustomerGroup"></span>-->
        <!--</div>-->
        <div class="row">
            <div id="customerUserIcon">
                <div class="chooseBtn" ng-repeat="data in userInfo" ng-click="showUserInfo(data)" ng-style="data.style" ng-mouseover="fadeSiblings()" ng-mouseout="reSiblings()">
                    <div title="{{data.openid}}">
                        <i class="fa fa-user fa-2x"></i>
                        <p>{{data.openid}}</p>
                    </div>
                </div>
            </div>
        </div>
        <!--<div class="row" style="margin-left: 20px;">-->
            <!--<ul class="pagination" id="customerUserPage">-->
            <!--</ul>-->
            <!--<div class="pageJump">-->
                <!--<span id="userJump"></span>-->
                <!--<input type="text"/>-->
                <!--<span id="userPage"></span>-->
                <!--<button type="button" class="button" style="margin-left: 40px;" id="userJumpConfirm"></button>-->
            <!--</div>-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--</div>-->
        <div class="row">
            <a id="backToCustomerUser"><span class="glyphicon glyphicon-circle-arrow-left"></span></a>
        </div>
        <div class="row">
            <div class="col-sm-8">
                <div id="customerUserChart">
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th colspan="2">
                                {{openid}}
                                <i class="fa fa-trash-o highlight" data-toggle="modal"
                                   data-target="#deleteCustomerUser" title="删除" style="float: right;font-size: 17px;cursor: pointer;color: #468847;"></i>
                            </th>
                        </tr>

                        </thead>
                        <tbody>
                        <tr>
                            <td class="attName" id="userCustGroupID"></td>
                            <td>{{openid}}</td>
                        </tr>
                        <tr>
                            <td class="attName" id="userTenantID"></td>
                            <td>{{email}}</td>
                        </tr>
                        <tr>
                            <td class="attName" id="userEmail"></td>
                            <td>{{phone}}</td>
                        </tr>
                        <tr>
                            <td class="attName" id="userNote"></td>
                            <td>{{address}}</td>
                        </tr>

                        <!--<tr>-->
                        <!--<td class="attName" id="userOperation"></td>-->
                        <!--<td>-->
                        <!--<button class="btn btn-basic" data-toggle="modal"-->
                        <!--data-target="#refreshCustomerUser" ng-click="setCustomerUserInfo()" id="userModify"></button>-->
                        <!--</td>-->
                        <!--</tr>-->

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
    <!--新增用户-->
    <div class="modal fade" tabindex="-1" role="dialog" id="createCustomerUser">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
                    <h4 class="modal-title" style="font-weight: bold;" id="newUser"></h4>
                </div>
                <div class="modal-body" id="customerUserInfoTable">
                    <table class="table table-striped table-hover">
                        <tbody>
                        <tr>
                            <td class="attName"><span style="color: red;font-size: 10px;margin-right: 5px;">*</span><span id="newUserName"></span></td>
                            <td><input type="text" class="inputInfo necInfo" id="customerUserName" placeholder="必填"></td>
                        </tr>
                        <tr>
                            <td class="attName"><span style="color: red;font-size: 10px;margin-right: 5px;">*</span><span id="newUserPassword"></span></td>
                            <td>
                                <input type="password" class="inputInfo necInfo" id="customerUserPassword" placeholder="必填">
                            </td>
                        </tr>
                        <tr>
                            <td class="attName"><span style="color: red;font-size: 10px;margin-right: 5px;">*</span><span id="newUserPasswordConfirm"></span></td>
                            <td>
                                <input type="password" class="inputInfo necInfo" id="customerUserPasswordAgain" placeholder="请再次输入密码...">
                            </td>
                        </tr>
                        <tr>
                            <td class="attName"><span style="color: red;font-size: 10px;margin-right: 5px;">*</span><span id="newUserEmail"></span></td>
                            <td>
                                <input type="text" class="inputInfo necInfo" id="customerUserEmail" placeholder="必填">
                                <br>
                                <p id="emailCheck" style="color:red;font-size:14px;display:none;"></p>
                            </td>
                        </tr>
                        <tr>
                            <td class="attName" id="newUserNote"></td>
                            <td>
                                <input type="text" class="inputInfo" id="customerUserAddInfo">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="modalCloseCreateCustomerUser"></button>
                    <button type="button" class="btn btn-basic" data-dismiss="modal" id="modalConfirmCreateCustomerUser" ng-click="createCustomerUser()"></button>
                </div>

            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!-- 删除用户 -->
    <div class="modal fade" tabindex="-1" role="dialog" id="deleteCustomerUser">
        <!--.modal:指定为模态框      fade:淡入淡出效果     tabindex="-1":不受tab键控制    role="dialog":指定模态框为对话框-->
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
                    <h4 class="modal-title" style="font-weight: bold;" id="deleteUser"></h4>
                </div>
                <div class="modal-body" id="deleteCustomerTable">
                    <p style="text-align: center;font-size: 17px;" id="deleteUserConfirm"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="modalCloseDeleteCustomerUser"></button>
                    <button type="button" class="btn btn-basic" id="modalConfirmDeleteCustomerUser" data-dismiss="modal" ng-click="deleteCustomerUser()"></button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!--修改用户-->
    <div class="modal fade" tabindex="-1" role="dialog" id="refreshCustomerUser">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
                    <h4 class="modal-title" style="font-weight: bold;" id="renewUser"></h4>
                </div>
                <div class="modal-body" id="refreshCustomerUserInfoTable">
                    <table class="table table-striped table-hover">
                        <tbody>
                        <tr>
                            <td class="attName"><span style="color: red;font-size: 10px;margin-right: 5px;">*</span><span id="renewUserName"></span></td>
                            <td><input type="text" class="inputInfo necInfo" id="refreshCustomerUserName"></td>
                        </tr>
                        <tr>
                            <td class="attName" id="renewGroupID"></td>
                            <td><input type="text" disabled="disabled" class="inputInfo necInfo" id="refreshCustomerId"></td>
                        </tr>
                        <tr>
                            <td class="attName"><span style="color: red;font-size: 10px;margin-right: 5px;">*</span><span id="renewUserEmail"></span></td>
                            <td>
                                <input type="text" class="inputInfo necInfo" id="refreshCustomerUserEmail">
                                <br>
                                <p id="emailModifyCheck" style="color:red;font-size:14px;display:none;"></p>
                            </td>
                        </tr>
                        <tr>
                            <td class="attName" id="renewUserNote"></td>
                            <td>
                                <input type="text" class="inputInfo" id="refreshCustomerUserAddInfo">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="modalCloseRefreshCustomerUser"></button>
                    <button type="button" class="btn btn-basic" id="modalConfirmRefreshCustomerUser" ng-click="refreshCustomerUser()"></button>
                </div>

            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>

<script type="text/javascript" src="static/thingsManage/assets/js/customerUserSwitch.js" ></script>