<div class="content-wrapper" ng-controller="RuleCtrl">
    <div class="container">
        <!--右侧视图-->
        <div class="RightView">
            <div class="DGAssignContainer">
                <div class="DGTitle DGminTitle">
                    <span class="RightviewTitle" id="ruleInfoTitle"></span>
                    <div class="ruleiconcontainer">
                        <i class="fa fa-power-off fa-lg ruleicon shand userDelete" ng-show="Rulestart" title="激活规则"
                           data-toggle="modal" data-target="#startRule"></i>
                        <i class="fa fa-ban fa-lg ruleicon shand userDelete" ng-show="Rulestop" title="暂停规则"
                           data-toggle="modal" data-target="#stopRule"></i>
                        <i class="fa fa-trash-o fa-lg ruleicon shand userDelete" title="删除此规则"
                           data-toggle="modal" data-target="#delRule" style="color: rgb(56, 136, 60)"></i>
                    </div>
                </div>
                <div class="item">
                    <p><span id="curRuleName"></span><span>{{Ruleitem.rule.name}}</span></p><!--规则名称修改按钮
                    <i class="fa fa-pencil-square-o iedit shand" data-toggle="modal"
                       data-target="#editRuleName"></i>
                    </p.time}}  无此接口-->
                    <p><span id="curRuleID"></span><span>{{Ruleitem.rule.ruleId}}</span></p>
                    <p><span id="curRuleStatus"></span><span ng-class="{true:'stateActive',false:'stateNActive'}[isActive]">
                    <i ng-class="{true:'fa fa-refresh fa-spin',false:'fa fa-refresh'}[isActive]"></i>
                    {{Ruleitem.rule.state}}</span></p>
                    <p><span id="curRuleDescription"></span><span>{{Ruleitem.rule.additional_info}}</span>
                        <!--规则描述修改按钮
                        <i class="fa fa-pencil-square-o iedit shand" data-toggle="modal"
                           data-target="#editRuleDes"></i>
                        </p.time}}   无此接口-->
                    </p>
                    <!--显示信息待完善-->
                </div>
            </div>
            <div class="DGAssignContainer">
                <div class="DGTitle DGminTitle">
                    <p class="RightviewTitle" id="curRuleDetail"></p>
                </div>

                <!--filter展示表格折叠效果-->
                <div class="item">
                    <table class="table table-bordered table-hover table-striped" style="table-layout:fixed">
                        <thead>
                        <tr>
                            <td style="width: 30px"></td>
                            <td id="filterDetail"></td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat-start="data in RuleFilters">
                            <td>
                                <button class="btn btn-xs" ng-if="data.expanded" ng-click="data.expanded=false">-</button>
                                <button class="btn btn-xs" ng-if="!data.expanded" ng-click="data.expanded=true">+</button>
                            </td>
                            <td>{{data.name}}</td>
                        </tr>
                        <tr ng-show="data.expanded" ng-repeat-end="">
                            <td></td>
                            <td colspan="1">
                                <p><span id="filterName"></span><span>{{data.name}}</span></p>
                                <p><span id="filterType"></span><span>{{data.type||"无"}}</span></p>
                                <p><span id="filterCode"></span><pre id="rule_jscode">{{data.jsCode}}</pre></p>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <!--plugin展示表格折叠效果-->
                <div class="item">
                    <table class="table table-bordered table-hover table-striped" ng-show="!showEmpty" style="table-layout:fixed">
                        <thead>
                        <tr>
                            <td style="width: 30px"></td>
                            <td id="rulePluginDetail"></td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat-start="data in RulePlugins">
                            <td>
                                <button class="btn btn-xs" ng-if="data.expanded" ng-click="data.expanded=false">-</button>
                                <button class="btn btn-xs" ng-if="!data.expanded" ng-click="data.expanded=true;showplugin(data,$index)">+</button>
                            </td>
                            <td>{{data.name}}</td>
                        </tr>
                        <tr ng-show="data.expanded" ng-repeat-end="">
                            <td></td>
                            <td colspan="1" style="word-wrap:break-word;word-break: break-all">
                                <p><span id="rulePluginRuleName"></span><span>{{data.name}}</span></p>
                                <p><span id="rulePluginJumpAddress"></span><span>{{data.url}}</span></p>
                                <div id="plugin_{{$index}}">
                                    <p><span id="rulePluginRequestMethod"></span><span>{{data.requestBody.method}}</span></p>
                                    <p><span id="rulePluginRequestAddress"></span><span>{{data.requestBody.url}}</span></p>
                                </div>
                                <div id="plugin_mail_{{$index}}" style="display: none">
                                    <p><span id="rulePluginRecipient"></span><span>{{data.requestBody.to}}</span></p>
                                    <p><span id="rulePluginTransaction"></span><span>{{data.requestBody.subject}}</span></p>
                                    <p><span id="rulePluginContent"></span><span>{{data.requestBody.text}}</span></p>
                                </div>
                                <div id="plugin_updatemessage_{{$index}}" style="display: none">
                                    <p><span id="rulePluginNews"></span><span>{{data.requestBody.message}}</span></p>
                                    <p><span id="rulePluginNewsType"></span><span>{{data.requestBody.messageType}}</span></p>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!--modal删除规则-->
            <div class="modal fade" id="delRule" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                &times;
                            </button>
                            <h4 class="modal-title" id="deleteRule">
                            </h4>
                        </div>
                        <div class="modal-body" id="deleteRuleConfirm">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal" id="modalDeleteRuleClose">
                            </button>
                            <button type="button" class="btn btn-basic" ng-click="delRule()" id="modalDeleteRuleConfirm">
                            </button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal -->
            </div>

            <!--modal运行-激活规则-->
            <div class="modal fade" id="startRule" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                &times;
                            </button>
                            <h4 class="modal-title" id="activateRule">
                            </h4>
                        </div>
                        <div class="modal-body" id="activateRuleConfirm">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal" id="modalActivateRuleClose">
                            </button>
                            <button type="button" class="btn btn-basic" ng-click="startRule()" id="modalActivateRuleConfirm">
                            </button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal -->
            </div>

            <!--modal运行-暂停规则-->
            <div class="modal fade" id="stopRule" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                &times;
                            </button>
                            <h4 class="modal-title" id="pauseRule">
                            </h4>
                        </div>
                        <div class="modal-body" id="pauseRuleConfirm">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal" id="modalPauseRuleClose">
                            </button>
                            <button type="button" class="btn btn-basic" ng-click="stopRule()" id="modalPauseRuleConfirm">
                            </button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal -->
            </div>

        </div>

        <!--左侧视图-->
        <div class="LeftView">
            <div class="DGTitle">
                <span style="font-size:30px" id="ruleManagementTitle"></span>
                <button style="margin-left:10px; margin-bottom: 15px" class="btn btn-basic btn-sm user" data-toggle="modal"
                        data-target="#addRule" id="createRule">
                </button>
                <!--
                <div class="SearchDG">
                <span>搜索：<input type="text" style="width: 130px" placeholder="请输入规则id"
                                ng-model="$parent.ruleid"/></span>
                    <span class="Searchicon" ng-click="searchRule()" title="搜索">
                    <i class="fa fa-search fa-lg shand" aria-hidden="true"></i>
                </span>
                </div>
                -->
                <div class="input-group SearchDG">
                    <input type="text" class="form-control" placeholder="请输入规则名称..." id="searchRuleText">
                    <span class="input-group-btn">
                        <button class="btn btn-basic" type="button" ng-click="searchRule()"><i class="fa fa-search"></i></button>
                    </span>
                </div>

            </div>
            <div class="DGContainer" style="margin-left: -15px">
                <div ng-repeat="rule in Rules" class="chooseBtn RuleBtn" ng-click="showrule(rule)"
                     ng-style="rule.style" ng-mouseover="fadeSiblings()" ng-mouseout="reSiblings()">
                    <div>
                        <i class="fa fa-puzzle-piece fa-2x "></i>
                        <p>{{rule.rule.name}}</p>
                    </div>
                </div>
            </div>
        </div>

        <!--modal创建规则-->
        <div class="modal fade" id="addRule" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h4 class="modal-title" id="newRule">
                        </h4>
                    </div>
                    <div class="modal-body" style="height: 450px;overflow: auto"><!--解决嵌套模态框滚动条bug-->
                        <form>
                            <!--添加规则组基本信息-->
                            <p><span class="StarMark">*</span><span id="newRuleName"></span>
                                <input id="ruleName" type="text" name="rulename" ng-model="formData.rule.name" placeholder="请输入规则组名称"/>
                                <span class="alertempty" id="rulenamealert"></span>
                            </p>
                            <p><span style="vertical-align:top;margin-left: 10px;white-space:pre;" id="newRuleDescription"></span>
                                <textarea id="newDescription"
                                    name="additional_info"
                                    ng-model="formData.rule.additional_info"
                                    placeholder="请添加对规则的描述..."
                                    style="height:120px;width: 450px;"></textarea>
                            </p>
                            <hr/>

                            <!--添加过滤器-->
                            <h4 id="newFilter"></h4>
                            <!--添加过滤器modal后显示-->
                            <table class="table table-bordered table-hover addfiltertab" ng-show="showaddFilter">
                                <thead><!--bootstrap的table样式，简单快捷-->
                                <tr>
                                    <th id="newFilterName"></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="filter in formData.filters">
                                    <td>{{filter.name}}</td>
                                </tr>
                                </tbody>
                            </table>
                            <button style="margin-left:5px" class="btn btn-basic btn-sm" data-toggle="modal"
                                    data-target="#addruleFilter" id="addFilter">
                            </button>
                            <hr/>

                            <!--添加插件-->
                            <h4 id="newRulePlugin"></h4>
                            <!--添加插件后显示-->
                            <table class="table table-bordered table-hover addfiltertab" ng-show="showaddTransform">
                                <thead><!--bootstrap的table样式，简单快捷-->
                                <tr>
                                    <th id="newRulePluginName"></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="plugin in formData.transforms">
                                    <td>{{plugin.name}}</td>
                                </tr>
                                </tbody>
                            </table>
                            <button style="margin-left:5px" class="btn btn-basic btn-sm" data-toggle="modal"
                                    data-target="#addruleTransform" ng-click="getAllplugin()" id="addRulePlugin">
                            </button>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clearForm()" id="modalAddRuleClose">
                        </button>
                        <button type="button" class="btn btn-basic" ng-click="createRule()" id="modalAddRuleConfirm">
                        </button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>

        <!--model创建规则-添加过滤器-->
        <div class="modal fade" id="addruleFilter" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h4 class="modal-title" id="newFilterTitle">
                        </h4>
                    </div>

                    <div class="modal-body">
                        <form name="addfilter">
                            <p><span class="StarMark">*</span><span id="newRuleFilterName"></span>
                                <input type="text" name="addname" id="addfiltername" placeholder="请输入过滤器名称" required/>
                                <span class="alertempty" id="filternamealert"></span>
                            </p>
                            <p style="margin-left: 10px" ><span id="newRuleFilterType"></span>
                                <input type="text" name="addtype" disabled="disabled" id="addfiltertype" placeholder="待定"/>
                            </p>
                            <p style="margin-left: 10px;vertical-align:top;"><span id="newRuleFilterCode"></span>
                                <textarea name="addjscode" id="addfilterjs" style="height:150px;width: 470px"/>
                            </p>
                            <input type="reset" style="display:none;"/>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal"
                                ng-click="clearFilterPlugin('#addruleFilter')" id="newRuleFilterClose">
                        </button>
                        <button type="button" class="btn btn-basic" ng-click="subFilter()" id="newRuleFilterConfirm">
                        </button>
                    </div>

                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>

        <!--model创建规则-添加插件-->
        <div class="modal fade" id="addruleTransform" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h4 class="modal-title" id="newRulePluginTitle">
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div ng-show="!isPluginReady" id="newRulePluginRemind"></div>
                        <form name="addplugin" ng-show="isPluginReady">
                            <p><span id="newRulePluginDetailName"></span>
                                <select ng-model="RuleaddPlugin" ng-change="change(RuleaddPlugin)" id="addpluginselect" ng-options="x.name for x in Plugin">
                                <option id="newRulePluginSelect" value="" disabled></option>
                            </select>
                            </p>
                            <p style="word-wrap:break-word"><span id="newRulePluginDetailDes"></span><span>{{RuleaddPlugin.describe}}</span></p>
                            <p style="word-break: break-all"><span id="newRulePluginDetailAddr"></span><span>{{RuleaddPluginUrl}}</span></p>
                            <p ng-show="showsendmail"><span id="newRulePluginDetailReq"></span>
                                <input type="text" name="method" disabled="disabled" id="pluginmethodMail" value="POST"/>
                            </p>
                            <!--判断是restful插件-->
                            <p ng-show="showrestful"><span id="newRulePluginDetailRestReq"></span>
                                <select id="pluginmethodRest" ng-model="RuleaddPlugin.method" ng-options="x for x in RESTMethod" ng-change="changemethod(RuleaddPlugin.method)">
                                <option id="newRulePluginReqSelect" value="" disabled></option>
                            </select>
                            </p>
                            <p ng-show="showrestful"><span id="newRulePluginReqAddr"></span>
                                <input type="text" id="RestfulBody_url" style="width: 75%;"/></p>
                            <p ng-show="showrestfulPOST">
                                <span style="vertical-align:top">Requestbody：</span>
                                <textarea style="height:120px;width: 70%;" id="RestfulBody_body"></textarea>
                            </p>

                            <!--判断是updatemessage插件-->
                            <p ng-show="showupdatemessage">
                                <span style="vertical-align:top">Message：</span>
                                <textarea style="height:120px;width: 70%;" id="addUpdateMessageText"></textarea>
                            </p>

                            <!--判断是sendmail后显示-->
                            <div ng-show="showsendmail">
                                <div>
                                    <hr/>
                                    <!--添加多个收件人-->
                                    <div ng-repeat="reply in fchat.replies">
                                        <p>
                                            <span id="newRulePluginRecipient"></span><span>{{$index + 1}} ：</span>
                                            <input type="text" ng-model="reply.value" id="reply{{$index + 1}}" name="reply{{$index + 1}}" />
                                            <a href="" ng-click="fchat.incrReply($index)">
                                                <i class="fa fa-plus"></i>
                                            </a>
                                            <a href="" ng-click="fchat.decrReply($index)"
                                               ng-show="fchat.canDescReply">
                                                <i class="fa fa-minus"></i>
                                            </a>
                                            <i class="fa fa-minus" ng-show="!fchat.canDescReply"/></a>
                                        </p>
                                    </div>
                                    <!--添加多个收件人End-->
                                    <p><span id="newRulePluginMailTheme"></span>
                                        <input type="text" name="mailtitle" id="addTranMailSub" placeholder="请输入邮件主题">
                                    </p>
                                    <p><span id="newRulePluginMailContent"></span>
                                        <input type="text" name="mailcontext" id="addTranMailText" style="height:100px;width: 450px"/>
                                    </p>
                                    <input type="reset" style="display:none;"/>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal"
                                ng-click="clearFilterPlugin('#addruleTransform')" id="modalNewRulePluginClose">
                        </button>
                        <button type="button" class="btn btn-basic" ng-click="subTransform()"
                                data-dismiss="modal" id="modalNewRulePluginConfirm">
                        </button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>
    </div>
</div>

<script type="text/javascript" src="static/thingsManage/assets/js/ruleSwitch.js" ></script>