<div class="" ng-controller="unbindGatewayCtrl">
    <div class="container">
        <!--标题-->
        <div class="row">
            <div class="col-xs-5 col-sm-5">
                <span style="font-size: 30px;" id="GatewayListTitle">Gateway List</span>
            </div>
        </div>
        <!--每页显示数量-->
        <div class="row" style="margin-top: 10px;margin-left: 4%;" id="searchRow">
            <div class="col-xs-4 col-sm-4 col-md-3" >
                <span id="display"></span>
                <input type="text" id="GatewayListNum" style="width: 50px;border-radius: 5px;" ng-change="GatewayListNumChoose()" ng-model="myNum" placeholder="12">
                <span id="devices"> </span>
            </div>
            <div class="col-xs-3 col-sm-offset-4 col-sm-3 col-md-3">
                <div class="input-group" id="searchGatewayWidth">
                    <input type="text" class="form-control" placeholder="请输入设备名称..." id="searchGatewayText">
                    <span class="input-group-btn">
                        <button class="btn btn-basic" type="button" ng-click="searchGateway()"><i class="fa fa-search"></i></button>
                    </span>
                </div><!-- /input-group -->
            </div><!-- /.col-lg-4 -->
        </div>
        <div class="row"  id="GatewayListRow">
            <!--<div id="preDevice" ng-click="preGatewayInfo()"><i class="fa fa-chevron-left"></i></div>-->
            <div id="preDevice" ng-click="preGatewayInfo()"><i class="fa fa-chevron-left"></i></div>
            <div class="abilityIcon">
                <div class="GWstyle" ng-repeat="data in gatewayList" ng-style="data.style" ng-mouseover="fadeSiblings()" ng-mouseout="reSiblings()" >
                    <!--<div class="items">-->
                        <!--<i class="fa fa-file-text fa-2x"></i>-->
                        <p class="style"><i class="fa fa-cog fa-cart-plus"></i><span id="customerId"></span><span>{{data.customerId}}</span></p>
                        <p class="style"><i class="fa fa-cog fa-cart-plus"></i><span id="name"></span><span>{{data.name}}</span></p>
                    <!--</div>-->
                    <span type="button" class="btn abilityUnbind" data-toggle="modal" data-target="#unbindGW" ng-disabled="flag">
                            <i id="unbindGW-i" class="glyphicon glyphicon-edit userDelete" ng-click="show(data)"></i>
                    </span>
                </div>
            </div>
            <div id="nextDevice" ng-click="nextGatewayInfo()" style="opacity:0.3;"><i class="fa  fa-chevron-right"></i></div>
        </div>
        <!--解绑网关界面弹出框-->
        <div class="modal fade" id="unbindGW" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h4 class="modal-title" id="myModaLabel" id="gwUnbind">
                        </h4>
                    </div>
                    <div class="modal-body" id="gwUnbindConfirm">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" id="gwCancelUnbind">
                        </button>
                        <button type="button" class="btn btn-basic" ng-click="unbindGW()" id="gwConfirmUnbind">
                        </button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>
</div>

<script type="text/javascript" src="static/thingsManage/assets/js/unbindGatewaySwitch.js" ></script>